body {
 color: #131515;
 background: #fffafb;
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

.start{
    display: block;
}

.firstblock {
    display: flex;
    width: 600px;
    height: 200px;
}

.logo{
    display: block;
}

.preview {
    width: 800px;
    margin-left:5%;
}

.bighead {
    color: #131515;
    background: #7de2d1;
    margin-top:4%;
    margin-left:10%;
    width: 300px;
    height: 80px;
    text-align:center;
}

.miniheads {
    color: #2b2c28;
    background: #339989;
    width: 300px;
    height: 60px;
}

.firstpic {
    width: 108%;
    position: absolute;
    top: 30px;
    left: 1200px;
}